@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    background: linear-gradient(45deg, #57003f 0%, #f57453 100%);
    font-family: 'Ubuntu';
    position: relative;
    overflow: hidden;
}

.desktop {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
}
